@import "variables.scss";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
}

input:focus {
    outline: 2px solid $accent-bright;
}