$base-color: rgba(100, 50, 0, 0.85);
$base-opaque: rgb(100, 50, 0);
$accent-color: rgb(50, 25, 0);
$accent-bright: rgb(125, 75, 0);

$standard-icon-size-large: 48px;
$standard-icon-size-small: 32px;
$breakpoint-md: 1000px;