:root {
    --bg-color: rgba(100, 50, 0, 0.85);
    --bg-solid: rgb(100, 50, 0);
    --fg-color: rgb(50, 25, 0);
    --fg-color-bright: rgb(125, 75, 0);
}

#ui {
    font-family: 'Roboto Slab', serif;

    pointer-events: none;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.text-icon {
    display: inline;
    vertical-align: middle;
}

.top-right {
    position: absolute;
    top: 4px;
    right: 4px;
}

#ctxMenu {
    cursor: default;

    pointer-events: initial;
    z-index: 2;
    position: absolute;

    background-color: var(--fg-color);
    color: white;
    border-radius: 4px;
    box-shadow: 2px 2px rgb(0, 0, 0, 0.5);

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#ctxMenu>* {
    padding: 8px;
    font-size: 15px;
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black;
}

#ctxMenu>*:hover {
    color: lightgray;
}

#heldItem {
    z-index: 2;

    width: var(--standard-icon);
    height: var(--standard-icon);

    position: absolute;
}

#statusArea {
    position: absolute;
    width: 20em;
    top: 4px;
    left: 4px;
}

#statusArea>* {
    margin: 8px;
}

#nameAndLevel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#nameAndLevel>* {
    color: white;
    margin: 0;
}

.statusBar {
    border: 2px solid var(--fg-color);
    background-color: var(--fg-color);
    border-radius: 16px;
    position: relative;
}

.statusBar p {
    color: white;
    margin: 0;
    position: relative;
    text-align: center;
}

.barFill {
    border-radius: 16px;
    position: absolute;
    height: 100%;
}

#healthFill {
    background: rgb(255, 0, 0);
    background: linear-gradient(180deg, rgb(255, 0, 0) 0%, rgb(100, 0, 0) 100%);
}

#experienceFill {
    width: 50%;
    background: rgb(255, 0, 255);
    background: linear-gradient(180deg, rgb(255, 0, 255) 0%, rgb(100, 0, 100) 100%);
}

#fullscreenButton {
    margin-top: auto;
}

.itemContainer {
    display: grid;
    column-gap: 4px;
    row-gap: 4px;

    grid-auto-rows: var(--standard-icon);
}

.itemContainer>* {
    position: relative;
}

.scaleIcon,
.itemContainer>* {
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    background-position: center;
}

.windowName {
    text-align: center;
    color: yellow;
    font-family: serif;
}

#craftingFilter {
    margin-right: 4px;
    background-color: var(--fg-color);
    color: white;
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;
}

#craftingWindow .itemContainer {
    grid-template-columns: repeat(8, var(--standard-icon));
    grid-template-rows: repeat(6, var(--standard-icon))
}

.hasMaterial {
    color: yellowgreen;
}

.lacksMaterial {
    color: orangered;
}

.recipeLocked {
    filter: opacity(0.5) brightness(0.5)
}

#bankWindow .itemContainer {
    grid-template-columns: repeat(8, var(--standard-icon));
    grid-template-rows: repeat(6, var(--standard-icon));
}

#tradeWindow {
    color: white;
    font-family: serif;
}

.tradeHeader {
    border: 1px solid var(--fg-color);
    border-left: none;
    border-right: none;
    text-align: center;
}

#tradeWindow .itemContainer {
    grid-template-columns: repeat(8, var(--standard-icon));
    grid-template-rows: repeat(2, var(--standard-icon));
}

#tradeButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#tradeButtons * {
    margin: 1rem;
}

.tradeButton {
    border: 1px solid var(--fg-color);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

#tradeAccept {
    color: yellowgreen;
}

#tradeAccepted {
    color: gray;
}

#tradeDecline {
    color: coral;
}

#shopWindow .itemContainer {
    grid-template-columns: repeat(8, var(--standard-icon));
    grid-template-rows: repeat(6, var(--standard-icon));
}

.shopItem:hover,
.recipeUnlocked:hover {
    cursor: pointer;
}

.selectDialog {
    min-width: 200px;
    position: absolute;
    z-index: 1;
    background-color: var(--bg-solid);
    border: 2px solid var(--fg-color);
    border-radius: 4px;
    color: white;
    padding: 4px;
}

.selectDialog:hover {
    cursor: initial;
}

.selectDialogRow {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.selectDialogRow>*:nth-child(2) {
    margin: auto;
}

.selectDialogIcon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: var(--fg-color);
}

.selectDialogAmount {
    background-color: var(--fg-color);
    border: none;
    border-radius: 4px;
    text-align: center;
    color: white;
    width: 48px;
}

.selectDialogIcon {
    background-color: var(--fg-color);
}

.selectDialogButton {
    background-color: var(--fg-color);
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.itemAmount {
    position: absolute;
    top: 2px;
    right: 2px;

    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0.75);

    color: white;
    font-size: 14px;
}

#chatArea {
    /*
    Needed to allow scrolling in chat-box
    See: https://stackoverflow.com/a/29699728
    */
    pointer-events: initial;

    position: absolute;
    bottom: 4px;
    left: 4px;
}

#openChatButton {
    background-image: url('ui/chat.png');
    width: var(--standard-icon);
    height: var(--standard-icon);

    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
}

#chatBox {
    width: fit-content;
    height: fit-content;

    color: white;
    white-space: initial;
}

.closeButton {
    background-image: url('ui/close.png');
    image-rendering: initial !important;
    width: 20px;
    height: 20px;
    border-radius: 2px;

    background-color: var(--fg-color);
}

#closeChat {
    position: absolute;
    top: 4px;
    left: 4px;
}

#chatBoxMessageArea {
    display: flex;
    flex-direction: column-reverse;

    overflow-y: scroll;
    width: 30rem;
    height: 12rem;
}

#chatBoxMessageArea::-webkit-scrollbar-thumb {
    background-color: var(--fg-color);
}

#chatBoxMessageArea::-webkit-scrollbar {
    background-color: transparent;
}

#chatBoxMessageArea>p {
    margin: 6px;
}

#chatBoxInput {
    width: 100%;
    box-sizing: border-box;

    background-color: transparent;
    border: none;
    border-top: 3px solid var(--fg-color);

    color: white;
}

#chatBoxInput:focus {
    outline: none;
}

.window {
    pointer-events: initial;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.secondary-window {
    pointer-events: initial;
    position: absolute;
    top: 2px;
    right: 2px;
}

.secondary-window .selectDialog {
    right: 0;
}

#dialogueBox {
    width: 325px;
    padding: 16px;

    color: white;
    white-space: initial;
}

#dialogueBox * {
    margin: 0;
    margin-top: 8px
}

#dialogueName {
    margin-top: 0;
    text-align: center;
}

#dialogueOptions {
    border-top: 1px solid var(--fg-color);

    margin-top: 24px;
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#dialogueOptions>* {
    cursor: default;
}

#dialogueOptions>*:hover {
    color: lightgray;
}

canvas {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

body {
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
}

@media (max-width:1000px) {
    #chatBoxMessageArea {
        width: 20rem;
        height: 6rem;
    }

    #statusArea {
        background-color: initial;
        border: initial;
    }

    #nameAndLevel {
        padding-left: 8px;
        display: inline-flex;
        justify-content: left;
        background-color: var(--fg-color);
        border-radius: 16px;
    }

    #nameAndLevel p {
        margin-right: 8px;
    }

    #statusArea {
        width: 14em;
    }
}