
@import "../../variables.scss";

:root {
    --standard-icon: #{$standard-icon-size-large};
}

#ui {
    font-family: 'Roboto Slab', serif;

    pointer-events: none;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.text-icon {
    display: inline;
    vertical-align: middle;
}

@media (max-width:$breakpoint-md) {
    :root {
        --standard-icon: #{$standard-icon-size-small};
    }

    #ui {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
}

.top-right {
    position: absolute;
    top: 4px;
    right: 4px;
}

.box-standard {
    border-radius: 5px;
    background-color: $base-color;
    border: 3px solid $accent-color;
    border-top-color: $accent-bright;
    border-left-color: $accent-bright;
}

.box-solid {
    border-radius: 5px;
    background-color: $base-opaque;
    border: 3px solid $accent-color;
}

.box-gradient {
    border-radius: 5px;
    background: radial-gradient(rgb(75, 50, 25), rgb(60, 35, 10));
    border: 3px solid $accent-color;
}

.ui-button {
    background-color: $base-color;
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 2px;
    color: white;

    &.thick {
        padding: 8px;
        border-radius: 4px;
    }
}

.close-button, .minimize-button {
    image-rendering: initial !important;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    
    background-color: $accent-color;
}

.close-button {
    background-image: url('/app/ui/close.png');
}

.minimize-button {
    background-image: url('/app/ui/minimize.png');
}
