@import "../../../variables.scss";

#dialogue-box {
    width: 325px;
    padding: 16px;

    color: white;
    white-space: initial;

    * {
        margin: 0;
        margin-top: 8px
    }
}

#dialogue-name {
    margin-top: 0;
    text-align: center;
}

#dialogue-options {
    border-top: 1px solid $accent-color;

    margin-top: 24px;
    padding-top: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    > * {
        cursor: default;

        &:hover {
            color: lightgray;
        }
    }
}
